<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Weather!</title>
    <link rel="icon" type="image/x-icon" href="https://openweathermap.org/payload/api/media/file/{{ current.weather[0].icon }}.png">

    <link rel="stylesheet"
          href="{{ url_for('static', path='style.css') }}">
</head>

<body class="{{ current.theme }}">

<div class="container">

    <h1>Current weather in {{ location }}</h1>

    <div class="current-card">

        <div class="current-main">

            <img
                src="https://openweathermap.org/payload/api/media/file/{{ current.weather[0].icon }}.png"
                alt="weather icon">

            <div>

                <div class="temperature">
                    {{ "%.1f"|format(current.main.temp) }}°C
                </div>

                <div class="description">
                    {{ current.weather[0].description }}
                </div>

            </div>

        </div>

        <div class="details">

            <div>Feels like {{ "%.1f"|format(current.main.feels_like) }}°C</div>

            {% if current.rain.volume > 0.0 %}
            <div>Rain {{ "%.1f"|format(current.rain.volume/3) }}mm/h</div>
            {% endif %}

            {% if current.snow.volume > 0.0 %}
            <div>Snow {{ "%.1f"|format(current.snow.volume/3) }}mm/h</div>
            {% endif %}

            <div>Humidity {{ current.main.humidity }}%</div>

            <div>Wind {{ current.wind.speed }} m/s</div>

            <div>Pressure {{ current.main.pressure }} hPa</div>

        </div>

    </div>

    <h1>Weather forecast</h1>

    {% for day, forecasts in forecast.items() %}

    <h2>{{ day }}</h2>

    <div class="forecast-grid">

        {% for item in forecasts %}

        <div class="forecast-card">

            <div class="time">
                {{ item.time }}
            </div>

            <img
                src="https://openweathermap.org/payload/api/media/file/{{ item.weather[0].icon }}.png"
                alt="icon">

            <div class="temp">

                {{ "%.1f"|format(item.main.temp) }}°C

            </div>

            <div class="card-details">

                <div>Feels like {{ "%.1f"|format(item.main.feels_like) }}°C</div>

                <div>Precipitation {{ item.pop*100 }}%</div>
                
                {% if item.rain.volume > 0.0 %}
                <div>Rain {{ "%.1f"|format(item.rain.volume/3) }}mm/h</div>
                {% endif %}
                
                {% if item.snow.volume > 0.0 %}
                <div>Snow {{ "%.1f"|format(item.snow.volume/3) }}mm/h</div>
                {% endif %}

            </div>

        </div>

        {% endfor %}

    </div>

    {% endfor %}

</div>

</body>
</html>
