:root {

    --background: #eef4fa;

    --card: white;

    --text: #25313f;

    --accent: #4a90e2;

    --shadow: rgba(0,0,0,.12);

}

body {

    margin: 0;

    font-family: system-ui, sans-serif;

    background: var(--background);

    color: var(--text);
    
    transition: background 0.5s ease;


}

body.sunny {

    --background:
        linear-gradient(
            180deg,
            #64b5f6,
            #e3f2fd
        );
    --card: white;
    --text: #222;
}

body.partly-cloudy {

    --background:
        linear-gradient(
            #8ec5fc,
            #d9e4f5
        );
    --card: #e7edf6;
    --text: #222;

}

body.cloudy {

    --background:
        linear-gradient(
            #90a4ae,
            #cfd8dc
        );
    --card: #ffffff5c;
    --text: #222;

}

body.rain {

    --background:
        linear-gradient(
            #455a64,
            #78909c
        );
    --card: #96b4c4;
    --text: white;

}

body.storm {

    --background:
        linear-gradient(
            #263238,
            #546e7a
        );

    --card: #7498a9;
    --text: white;

}

body.snow {

    --background:
        linear-gradient(
            #fafafa,
            #dfe9f3
        );
    --card: #f8f9f9;
    --text: #222;

}

body.night {

    --background:
        linear-gradient(
            #0d1b2a,
            #243b55
        );

    --card: #30357e;
    --text: white;

}



.container {

    max-width: 1100px;

    margin: auto;

    padding: 2rem;

}

h1 {

    margin-bottom: 1rem;

}

h2 {

    margin-top: 2rem;

}

.current-card {

    background: var(--card);

    border-radius: 16px;

    padding: 1.5rem;

    box-shadow: 0 4px 12px var(--shadow);

}

.current-main {

    display: flex;

    align-items: center;

    gap: 1rem;

}

.temperature {

    font-size: 3rem;

    font-weight: bold;

}

.description {

    color: gray;

}

.details {

    margin-top: 1rem;

    display: grid;

    grid-template-columns: repeat(2, auto);

    gap: .5rem;

}

.forecast-grid {

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 1rem;

}

.forecast-card {

    min-width: 120px;

    background: var(--card);

    border-radius: 12px;

    padding: 1rem;

    text-align: center;

    box-shadow: 0 2px 8px var(--shadow);

}

.forecast-card img {

    width: 64px;

}

.time {

    font-weight: bold;

    margin-bottom: .5rem;

}

.temp {

    font-size: 1.3rem;

    font-weight: bold;

}

.small {

    color: gray;

    font-size: .85rem;

}
